<h2>Project</h2>
<p>
  <strong>Title:</strong>
  <%= @project.title %>
</p>
 
<p>
  <strong>Text:</strong>
  <%= @project.text %>
</p>

<%= link_to 'Show Ticket', project_tickets_path(@project, @ticket) %>

<br><br>
<%= link_to 'Back', projects_path %>