<p>
  <strong>Title:</strong>
  <%= @project.title %>
</p>
 
<p>
  <strong>Text:</strong>
  <%= @project.text %>
</p>

<%= link_to 'Ticket', project_tickets_path(@project, @ticket) %>

<%= link_to 'Back', projects_path %>